name: nightly

# Controls when the action will run.
on:
  schedule:
    # We want to run every day at 9AM Pacific.
    # The timezone is UTC.
    - cron: "0 17 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Figure out the last commit
  last-commit:
    outputs:
      datetime: ${{ steps.commit-sha.outputs.datetime }}
      sha: ${{ steps.commit-sha.outputs.sha }}
      tag: ${{ steps.commit-sha.outputs.tag }}

    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.4

      - id: commit-sha
        name: Set the last commit if it exists
        run: |
          readonly sha=$(git log --format='%H' --max-count=1 --since=@{1.day.ago})

          if [ -n "${sha}" ]; then
            readonly datetime=$(date +'%Y-%m-%d %H:%M:%S')
            readonly tag="nightly-$(date +'%Y-%m-%d-%H-%M-%S' --date="${datetime}")"

            echo "::set-output name=datetime::${datetime}"
            echo "::set-output name=sha::${sha}"
            echo "::set-output name=tag::${tag}"

            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git config --global user.name 'github-actions[bot]'
            git tag --annotate --message 'Nightly tag' "${tag}" "${sha}"
            git push origin "${tag}"
          fi

  # Create a "nightly" release.
  nightly:
    needs:
      - last-commit

    runs-on: ubuntu-latest

    # Only run if there's a commit that hasn't had a release yet.
    if: ${{ needs.last-commit.outputs.sha != '' }}

    steps:
      - id: purs-compile-module-linux
        name: Download Linux purs-compile-module
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-compile-module-${{ needs.last-commit.outputs.sha }}-linux.tar.gz
          path: purs-compile-module-linux
          workflow: main.yaml

      - id: purs-compile-module-macOS
        name: Download macOS purs-compile-module
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-compile-module-${{ needs.last-commit.outputs.sha }}-macOS.tar.gz
          path: purs-compile-module-macOS
          workflow: main.yaml

      - id: purs-externs-linux
        name: Download Linux purs-externs
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-externs-${{ needs.last-commit.outputs.sha }}-linux.tar.gz
          path: purs-externs-linux
          workflow: main.yaml

      - id: purs-externs-macOS
        name: Download macOS purs-externs
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-externs-${{ needs.last-commit.outputs.sha }}-macOS.tar.gz
          path: purs-externs-macOS
          workflow: main.yaml

      - id: purs-module-information-linux
        name: Download Linux purs-module-information
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-module-information-${{ needs.last-commit.outputs.sha }}-linux.tar.gz
          path: purs-module-information-linux
          workflow: main.yaml

      - id: purs-module-information-macOS
        name: Download macOS purs-module-information
        uses: dawidd6/action-download-artifact@891cccee4b25d3306cf5edafa174ddc1d969871f
        with:
          commit: ${{ needs.last-commit.outputs.sha }}
          name: purs-module-information-${{ needs.last-commit.outputs.sha }}-macOS.tar.gz
          path: purs-module-information-macOS
          workflow: main.yaml

      - name: Remove SHA from names
        run: |
          mv purs-compile-module-linux/purs-compile-module.tar.gz "purs-compile-module-${{ needs.last-commit.outputs.tag }}-linux.tar.gz"
          mv purs-compile-module-macOS/purs-compile-module.tar.gz "purs-compile-module-${{ needs.last-commit.outputs.tag }}-macOS.tar.gz"

          mv purs-externs-linux/purs-externs.tar.gz "purs-externs-${{ needs.last-commit.outputs.tag }}-linux.tar.gz"
          mv purs-externs-macOS/purs-externs.tar.gz "purs-externs-${{ needs.last-commit.outputs.tag }}-macOS.tar.gz"

          mv purs-module-information-linux/purs-module-information.tar.gz "purs-module-information-${{ needs.last-commit.outputs.tag }}-linux.tar.gz"
          mv purs-module-information-macOS/purs-module-information.tar.gz "purs-module-information-${{ needs.last-commit.outputs.tag }}-macOS.tar.gz"
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Create nightly release
        uses: softprops/action-gh-release@affa18ef97bc9db20076945705aba8c516139abd
        with:
          fail_on_unmatched_files: true
          files: |
            purs-*.tar.gz
          name: Nightly ${{ needs.last-commit.outputs.datetime }}
          prerelease: true
          tag_name: ${{ needs.last-commit.outputs.tag }}
